{% extends "base.html" %}
{% block title %}{% if pageid %}
编辑文章:{{pagetitle}}
{% else %}
添加文章:
{% endif %}
 - {{ block.super }} {% endblock %}
{% block body %}
<h1>
{% if pageid %}
编辑文章:
{% else %}
添加文章:
{% endif %}
{{pagetitle}}</h1>
<div>
<form action="/blog/article/save/{% if pageid %}{{pageid}}{% else %}0{% endif %}/" method="post">
标题：<input type="text" name="title" value="{{pagetitle}}" />
<br/>
内容：<textarea name="content" cols="80" rows="20">{{content}}</textarea>
<br/>
<input type="submit" value="保存"/>
</form>
</div>
{% endblock %}
