{% load i18n categorytags %} 
{% extends "base.html" %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}{{ block.super }} {% endblock %}

{% block content %}
{% autoescape off %}
{% for post in posts %}
    <div class="post">
        <h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
        <span class="pubinfo">发表时间:{{post.pubdate|date:"Y年m月d日 H:i:s"}}</span>        
        {{post.content|truncatewords_html:"20"}}
        <br/><br/>
        {% comment %}
        <span class="pubinfo">
        {% for cat in post.category.all %}
        <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
        {% if not forloop.last %},{% endif %}        
        {% endfor %}
        </span>
        {% endcomment %}
    </div>
{% endfor %}
{% endautoescape %}
{% endblock %}


<!--Start of right bar-->
{% block right %} 
    <ul class="menuul">
      <li>
         {% get_categories %}
      </li>       
    </ul>
{% endblock %}
<!--End of right bar-->
