{% extends "base.html" %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}{{ block.super }} {% endblock %}

{% block content %}
{% autoescape off %}
{% for post in posts %}
    <div class="entry">
      <h1>
        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
      </h1>
      <div class="byline">
        发表时间:{{post.pubdate|date:"Y年m月d日 H:i:s"}}
      </div>
      <div class="body">
        <p>
         {{post.content|truncatewords_html:"20"}}
        </p>
      </div>
      <div class="byline" style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 40px; PADDING-TOP: 20px">
      <img title="Comments" height="16" src="/media/images/comment.gif" width="16" align="middle">
        <a href="#comments">Comments</a> | {{post.hits}} Views
      </div>
    </div>
    {% endfor %}
{% endautoescape %}
{% endblock %}

