{% extends "base.html" %}
{% load i18n %} 
{% block title %}{{post.title}} - {{ block.super }} {% endblock %}
{% block script %}
{% load media %}
<link rel="stylesheet" href="{% media_url %}css/code.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}
{% block content %}   
<!--Start of content-->
<div class="entry">
      <h1>
        {{post.title}}
      </h1>
      <div class="byline">
        发表时间:{{post.pubdate|date:"Y年m月d日 H:i:s"}}<br/>
        分类: 
    {% for cat in post.category.all %}
    <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
    {% if not forloop.last %}
    ,
    {% endif %}
    {% endfor %}
      </div>
      <div class="body">
        <p>
          {% autoescape off %}
    {{post.content}}
    {% endautoescape %}    
        </p>
      </div>
      <div class="byline" style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 40px; PADDING-TOP: 20px">
      <img title="Comments" height="16" src="/media/images/comment.gif" width="16" align="middle">
        <a href="#comments">Comments</a> | 68 Views
      </div>
    </div>     

 {% ifnotequal 0 post.comment_count %}   
    <!--Start of comments-->    
    <div id="comments">
        <span class="commenttitle"><a name="comments"></a>评论</span>
        <ul>
        {% for cmt in post.get_comments%}
           <li><strong>{{cmt.comment_author}}</strong> 发表于 {{cmt.comment_date|date:"Y年m月d日 H:i:s"}}          
           <br/>
           {% autoescape off %}
            {{cmt.comment_content}}
            {% endautoescape %}       
           </li>
        {% endfor %}
        </ul>
    </div>
 {% endifnotequal %}   
 
        {% include "blog/comment_form.html" %}

    <!--End of comments-->
{% endblock %}
<!--End of content-->
