{% load i18n themes %}
{% theme_extends "base.html" %}
{% block title %}{{post.title}} - {{ block.super }} {% endblock %}
{% block content %}
<!--Start of prompt-->
 {% if msg %}
 <div class="message">{{msg}}</div>
 {% endif %}
 <!--End of prompt--> 
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!--Start of content-->
<div class="entry">
      <h1>
        {{post.title}}
      </h1>
      <div class="byline">
          {% trans "Pubdate" %}:{{post.pubdate|date:"Y-m-d H:i:s"}} | {{post.hits}} {% trans "Views" %}<br/>
        {%trans "Categories" %}: 
    {% for cat in post.category.all %}
    <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
    {% if not forloop.last %}
    ,
    {% endif %}
    {% endfor %}
      </div>
      <div class="body">
        <p>
          {% autoescape off %}
    {{post.content}}
    {% endautoescape %}    
        </p>
        
      </div>
      
    </div>     

 {% ifnotequal 0 post.comment_count %}   
    <!--Start of comments-->    
    <div id="comments">
        <span class="commenttitle"><a name="comments"></a>{% trans "Comments" %}</span>
        <ul>
        {% for cmt in post.get_comments%}
           <li class="{% cycle alt1,alt2,alt3 %}">
            <strong>{% if cmt.comment_author_url %}<a href="{{cmt.comment_author_url}}" target="_blank">{{cmt.comment_author}}</a>
            {% else %}{{cmt.comment_author}}
            {% endif %}</strong> <span class="byline">{% trans "Post at" %} {{cmt.comment_date|date:"Y-m-d H:i:s"}}</span>        
           <br/>
           {% autoescape off %}
            {{cmt.comment_content}}
            {% endautoescape %}       
           </li>
        {% endfor %}
        </ul>
    </div>
 {% endifnotequal %}
        {% include "blog/comment_form.html" %}

    <!--End of comments-->
{% endblock %}
<!--End of content-->
