{% extends "base.html" %}
{% load i18n categorytags %} 
{% block title %}{{post.title}} - {{ block.super }} {% endblock %}
    
<!--Start of content-->
{% block content %}
<h1>{{post.title}}</h1>           
    <span class="pubinfo">发表时间:{{post.pubdate|date:"Y年m月d日 H:i:s"}}</span>
    <div class="singlepost"> 
    {% autoescape off %}
    {{post.content}}
    {% endautoescape %}       
    </div>

{% endblock %}
<!--End of content-->
<!--Start of right bar-->
{% block right %}  
    <ul class="menuul">
      <li>
         {% get_categories %}
      </li>       
    </ul>
{% endblock %}
<!--End of right bar-->

