{% extends "base.html" %}
{% load i18n %} 
{% block title %}{{post.title}} - {{ block.super }} {% endblock %}
    
<!--Start of content-->
{% block content %}
<h1>{{post.title}}</h1>           
    <span class="pubinfo">发表时间:{{post.pubdate|date:"Y年m月d日 H:i:s"}}</span>
    <div class="singlepost"> 
    {% autoescape off %}
    {{post.content}}
    {% endautoescape %}       
    </div>
<!--Start of comments-->
{% ifnotequal 0 post.comment_count %}
    <div id="comments">
        <span class="commenttitle"><a name="comments"></a>评论</span>
        <ul>
        {% for cmt in post.get_comments%}
           <li><strong>{{cmt.comment_author}}</strong> 发表于 {{cmt.comment_date|date:"Y年m月d日 H:i:s"}}          
           <br/>
           {% autoescape off %}
            {{cmt.comment_content}}
            {% endautoescape %}       
           </li>
        {% endfor %}
        </ul>
    </div>
{% endifnotequal %} 
    {% ifequal "open" post.comment_status %}
        {% include "blog/comment_form.html" %}
    {% endifequal %} 
    <!--End of comments-->
{% endblock %}
<!--End of content-->

