{% extends "base.html" %}
{% load i18n categorytags %} 
{% block title %}{{post.title}} - {{ block.super }} {% endblock %}
{% block content %}   
<!--Start of content-->

<h1>{{post.title}}</h1>           
    <span class="pubinfo">发布时间:{{post.pubdate|date:"Y年m月d日 H:i:s"}}</span>
    <span class="pubinfo">分类: 
    {% for cat in post.category.all %}
    <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
    {% if not forloop.last %}
    ,
    {% endif %}
    {% endfor %}
    </span>
    <div class="singlepost"> 
    {% autoescape off %}
    {{post.content}}
    {% endautoescape %}       
    </div>
    <!--End of comments-->
    <div id="comments">
        <span class="commenttitle"><a name="comments"></a>评论</span>
        <ul>
        {% for cmt in post.get_comments%}
           <li><strong>{{cmt.comment_author}}</strong> 发表于 {{cmt.comment_date|date:"Y年m月d日 H:i:s"}}          
           <br/>
           {% autoescape off %}
            {{cmt.comment_content}}
            {% endautoescape %}       
           </li>
        {% endfor %}
        </ul>
    </div>
   
    
        {% include "blog/comment_form.html" %}
     
    
{% endblock %}
<!--End of content-->
<!--Start of right bar-->
{% block right %}
    <ul class="menuul">
      <li>
         {% get_categories %}
      </li>       
    </ul>
<!--End of right bar-->
{% endblock %}
