BODY {
FONT:80%/150% Tahoma,"宋体",Tahoma; COLOR: #605E5F; width:880px; text-align:center; margin:auto;
}
A,A:link{
	COLOR: #08478E;  TEXT-DECORATION: none;
}
A:visited {
	COLOR: #4183B5; TEXT-DECORATION: none;
}
A:hover {
	COLOR: #0056B4; text-decoration:none;
}
h1{margin:0; text-align:center; color:#0056B4; line-height:100%;}
h2{color:#0056B4; margin:3px 0;font-size:120%;line-height:100%; }
#header{
text-align:left;
}
#logo{width:250px; float:left;}
#toptext{float:left; font-size:150%; font-weight:bold; margin-top:2em;
font-family:Arial,"宋体",Helvetica, sans-serif; color:#BFC8CF;}

DIV#navi{margin:0; text-align:right; background:#fff;}
DIV#navi A,DIV#navi A:link,div#navi A:visited{
	COLOR: #0056B4;  TEXT-DECORATION: none;
	
	padding-left:.5em;
	padding-right:.5em;
}
DIV#navi A:hover {
	COLOR: #fff; text-decoration:none;
	background:#0056B4;
	padding-left:.5em;
	padding-right:.5em;
	
	
}
DIV#topbg{clear:both; margin:0;  height:85px; border-bottom:1px solid #BFC8CF;}
UL#nav {
	list-style-type: none; margin:0 1em;
}
UL#nav LI{display:inline; margin:0;}

#wrapper{
	padding:0;
padding-top:1em;
text-align:left;
clear:both;
min-height:350px;
height:350px;
}
[class]#wrapper{
	height:auto;
	} 

DIV#content{
width:70%;
float:left;
padding:0 0 1em 1em;
}

#content .post{
border-bottom:1px solid #eee;
margin-bottom:1em !important;
margin-bottom:2em;
}
.pubinfo{
	color:#BFC8CF;
	
	display:block;
	text-align:right;
}
.singlepost{	
	float:left;
	width:98%;
	padding-left:.5em;
}
DIV#right{
padding:0;
width:25%;
float:right;
margin-left:1em;
background:#F2F5FA;
height:100%;

border-left:1px solid #BFC8CF;
border-right:1px solid #BFC8CF;
border-bottom:2px solid #7CA0C4;
}

.menuul{
list-style:none;
margin:0;
padding:0;

}
.menuul h2{
background:#3367B0;
color:#fff;
margin:0;
font-size:120%;
padding-top:3px;
padding-bottom:3px;
padding-left:.5em;
}
.menuul li{
margin:0;
padding:0;}

.innerul{
list-style:none;
margin:.5em 0 0 1em;
padding:0;}
.innerul li{margin:0 0 .5em 0}

#comments{
	margin-top:1em;
	clear:both;
	border-top:1px solid #BFC8CF;
	background:#F5F5F5;
}
.commenttitle{color:#E55B02; font-size:120%;font-weight:bold;}
#comments ul{list-style:none;}
#comments li{margin-bottom:1em; border-bottom:1px dashed #BFC8CF;}
#commentform{clear:both;margin-top:1em;}
.form-row {
border-bottom:1px solid #EEEEEE;
font-size:100%;
overflow:hidden;
padding:8px 12px;
}
label{
	display:block;
float:left;
padding:0pt 1em 3px 0pt;
width:6em;
}
input.button{
	border:1px solid #4084B5;
	background:#fff;
	color:#4084B5;
	font-weight:bold;
	width:auto;
	
}
input:hover, select:hover, textarea:hover {
background:#F8F8F8 none repeat scroll 0%;
}
input:focus, select:focus, textarea:focus {
background:#FFFFFF none repeat scroll 0%;
border-color:#7D7D7D rgb(210, 210, 210) rgb(210, 210, 210) rgb(125, 125, 125);
border-style:solid;
border-width:1px;
}

input,
textarea,
input.textbox{
background:#F1F1F1 none repeat scroll 0%;
border-color:#7D7D7D rgb(232, 232, 232) rgb(232, 232, 232) rgb(125, 125, 125);
border-style:solid;
border-width:1px;
color:#333333;
font-family:verdana,arial,sans-serif;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:1px 0pt;
padding:2px 2px 3px;
width:20em;
}

.short{width:10em;}
.long{width:30em;}
.textarea{width:30em; height:10em;}

.submit-row {

margin:5px 0pt;
padding:5px 7px;
text-align:center;
}
/*error*/
.errornote {
background:#FFFFCC url(../img/admin/icon_error.gif) no-repeat scroll 5px 0.3em;
border:1px solid red;
color:red;
display:block;
font-size:12px !important;
margin:0pt 0pt 3px;
padding:4px 5px 4px 25px;
}
.error{
background:red url(../img/admin/icon_alert.gif) no-repeat scroll 5px 0.3em;
border:1px solid red;
color:white;
display:block;
font-size:12px !important;
margin:0pt 0pt 3px;
padding:4px 5px 4px 25px;
}
label.required{
	font-weight:bold;
}
#pagger{
	text-align:right;
}
DIV#footer{
width:80%;
text-align:center; 
color:#666; 
font-size:90%; 
clear:both; 
margin:auto; 
margin-top:3em;
border-top:1px dashed #BFC8CF;
padding-top:1em;
}
