<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n categorytags menu links archivelist themes %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% block title %}Pylogs - logging you life.{% endblock %}</title>
{% block script %}{% endblock %}
<script type="text/javascript" src="{% media_url %}/js/highslide.packed.js"></script>
<link rel="stylesheet" href="{% theme_media_url %}/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="{% media_url %}/css/code.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{% media_url %}/css/highslide.css" type="text/css" media="screen">
<link rel="alternate" type="application/rss+xml" title="Pylogs Rss Feed" href="/feeds/rss/">
<link rel="alternate" type="application/rss+xml" title="Pylogs Atom Feed" href="/feeds/atom/">
</head>
<body>
<div id="wrapper">

<div id="topbar">

<div id="topbarleft">
    <div id="navigation">
        {% get_menus %}        
    </div>
</div>

<div id="topbarright">
<div id="topsearch">
<form action="" method="post">
  <input value="Search..." name="s" id="ls" onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" class="swap_value" type="text" />
</form>
</div>

</div>

</div>

<div id="header"><h1><a href='#'>Pylogs</a></h1><h2>Logging you life...</h2></div>

<div id="main">
    <div class="entry">	
            {% block content %}
            {% endblock %}		
            	
    </div>

<div id="sidebar">
<div id="subscribe"><img src="{% theme_media_url %}/images/feed.png" style="padding-right: 10px;" alt="FEED" align="left"><a href="/feeds/rss/" title="Subscribe via RSS"><b>Subscribe to my blog using RSS</b></a></div>
<div id="sidebar1">
    <ul>	
        <li>
        <h2>{% trans "Categories" %}</h2>
        {% get_categories %}          
        </li>      	
        <li>
        <h2>{% trans "Archives" %}</h2>
           {% get_archivelist %}
        </li>
    </ul>
</div>
<div id="sidebar2">
    <ul>
	<li>
        <h2>{% trans "Links" %}</h2>
           {% get_links %}
        </li>
        <li>
        <h2>Meta</h2>
            <ul>
                        <li><a href="/admin/">Login</a></li>
                        </ul>
        </li>
        
		</ul></div>
<div id="sidebar3"></div>
</div>
</div><br clear="all">
<div id="footer">
Powered by <a href="http://pylogs.cn">Pylogs</a> v1.01beta
</div></div>
    <!--Start google analytics-->
    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-399570-9");
pageTracker._initData();
pageTracker._trackPageview();
</script>
 <!--Start google analytics-->
</body></html>